<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-eaten="{{devoured}}">
        {{#if devoured}}IT HAS BEEN EATEN!{{else}}ORDER ANOTHER!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>