<li>
    {{name}}
    <br>
    <button class="change-devour btn btn-success" data-id="{{id}}" data-eaten="{{devoured}}">
        {{#if devoured}}I ate this one{{else}}Delicious, order another!{{/if}}
    </button>

    <button class="delete-burger btn btn-danger" data-id="{{this.id}}">No More!</button>
</li>